<h1>{{title}}</h1>

<div>
  <button (click)="toggleInputs()">Crear Actividades</button>
    <!-- Formulario para crear una actividad -->
    <form *ngIf="showInputs" (ngSubmit)="CreateActivities()">
      <!-- Título -->
      <div class="form-group">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" [(ngModel)]="titulo" required>
      </div>
  
      <!-- Tipo -->
      <div class="form-group">
        <label for="tipo">Tipo:</label>
        <input type="text" id="tipo" name="tipo" [(ngModel)]="tipo" required>
      </div>
  
      <!-- Fecha de inicio -->
      <div class="form-group">
        <label for="fechaInicio">Fecha de inicio:</label>
        <input type="date" id="fechaInicio" name="fechaInicio" [(ngModel)]="fechaInicio" required>
        <input type="time" id="horaInicio" name="horaInicio" [(ngModel)]="horaInicio" required>
      </div>
  
      <!-- Fecha de finalización -->
      <div class="form-group">
        <label for="fechaFinal">Fecha de finalización:</label>
        <input type="date" id="fechaFinal" name="fechaFinal" [(ngModel)]="fechaFinal" required>
        <input type="time" id="horaFinal" name="horaFinal" [(ngModel)]="horaFinal" required>
      </div>
  
      <!-- Ponente (puede haber varios) -->
      <div class="form-group">
        <label for="ponente">Ponente(s):</label>
        <input type="text" id="ponente" name="ponente" [(ngModel)]="ponente" required>
      </div>
  
      <!-- Organizador (puede haber varios) -->
      <div class="form-group">
        <label for="organizador">Organizador(es):</label>
        <input type="text" id="organizador" name="organizador" [(ngModel)]="organizador" required>
      </div>
  
      <!-- Lugar -->
      <div class="form-group">
        <label for="lugar">Lugar:</label>
        <input type="text" id="lugar" name="lugar" [(ngModel)]="lugar" required>
      </div>
  
      <!-- Límite de asistentes -->
      <div class="form-group">
        <label for="limiteAsistentes">Límite de asistentes:</label>
        <input type="number" id="limiteAsistentes" name="limiteAsistentes" [(ngModel)]="limiteAsistentes" required>
      </div>
  
      <!-- Enlace de información -->
      <div class="form-group">
        <label for="enlaceInformacion">Enlace de información:</label>
        <input type="url" id="enlaceInformacion" name="enlaceInformacion" [(ngModel)]="enlaceInformacion" required>
      </div>
  
      <!-- Enlace de inscripción -->
      <div class="form-group">
        <label for="enlaceInscripcion">Enlace de inscripción:</label>
        <input type="url" id="enlaceInscripcion" name="enlaceInscripcion" [(ngModel)]="enlaceInscripcion" required>
      </div>
  
      <!-- Descripción -->
      <div class="form-group">
        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" name="descripcion" [(ngModel)]="descripcion" required></textarea>
      </div>
  
      <!-- Categoría (puede haber varias) -->
      <div class="form-group">
        <label for="categoria">Categoría(s):</label>
        <input type="text" id="categoria" name="categoria" [(ngModel)]="categoria" required>
      </div>
  
      <!-- Botón para enviar el formulario -->
      <button type="submit" class="small-button">Crear Actividad</button>
    </form>
    
</div>

<div>
    <button (click)="toggleInputs1()">Modificar Actividades</button>
      <!-- Formulario para crear una actividad -->
      <form *ngIf="showInputs1" (ngSubmit)="ModifyActivities()">
        <div *ngIf="actividadSeleccionada">
          <!-- Título -->
          <div class="form-group">
            <label for="titulo">Título:</label>
            <input type="text" id="titulo" name="titulo" [(ngModel)]="actividadSeleccionada.titulo" required>
          </div>
      
          <!-- Tipo -->
          <div class="form-group">
            <label for="tipo">Tipo:</label>
            <input type="text" id="tipo" name="tipo" [(ngModel)]="actividadSeleccionada.tipo" required>
          </div>
      
          <!-- Fecha de inicio -->
          <div class="form-group">
            <label for="fechaInicio">Fecha de inicio:</label>
            <input type="date" id="fechaInicio" name="fechaInicio" [(ngModel)]="actividadSeleccionada.fechaInicio" required>
            <input type="time" id="horaInicio" name="horaInicio" [(ngModel)]="horaInicio" required>
          </div>
      
          <!-- Fecha de finalización -->
          <div class="form-group">
            <label for="fechaFinal">Fecha de finalización:</label>
            <input type="date" id="fechaFinal" name="fechaFinal" [(ngModel)]="actividadSeleccionada.fechaFinal" required>
            <input type="time" id="horaFinal" name="horaFinal" [(ngModel)]="horaFinal" required>
          </div>
      
          <!-- Ponente (puede haber varios) -->
          <div class="form-group">
            <label for="ponente">Ponente(s):</label>
            <input type="text" id="ponente" name="ponente" [(ngModel)]="actividadSeleccionada.ponente" required>
          </div>
      
          <!-- Organizador (puede haber varios) -->
          <div class="form-group">
            <label for="organizador">Organizador(es):</label>
            <input type="text" id="organizador" name="organizador" [(ngModel)]="actividadSeleccionada.organizador" required>
          </div>
      
          <!-- Lugar -->
          <div class="form-group">
            <label for="lugar">Lugar:</label>
            <input type="text" id="lugar" name="lugar" [(ngModel)]="actividadSeleccionada.lugar" required>
          </div>
      
          <!-- Límite de asistentes -->
          <div class="form-group">
            <label for="limiteAsistentes">Límite de asistentes:</label>
            <input type="number" id="limiteAsistentes" name="limiteAsistentes" [(ngModel)]="actividadSeleccionada.limiteAsistentes" required>
          </div>
      
          <!-- Enlace de información -->
          <div class="form-group">
            <label for="enlaceInformacion">Enlace de información:</label>
            <input type="url" id="enlaceInformacion" name="enlaceInformacion" [(ngModel)]="actividadSeleccionada.enlaceInformacion" required>
          </div>
      
          <!-- Enlace de inscripción -->
          <div class="form-group">
            <label for="enlaceInscripcion">Enlace de inscripción:</label>
            <input type="url" id="enlaceInscripcion" name="enlaceInscripcion" [(ngModel)]="actividadSeleccionada.enlaceInscripcion" required>
          </div>
      
          <!-- Descripción -->
          <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" [(ngModel)]="actividadSeleccionada.descripcion" required></textarea>
          </div>
      
          <!-- Categoría (puede haber varias) -->
          <div class="form-group">
            <label for="categoria">Categoría(s):</label>
            <input type="text" id="categoria" name="categoria" [(ngModel)]="actividadSeleccionada.categoria" required>
          </div>
      
          <!-- Botón para enviar el formulario -->
          <button type="submit" class="small-button">Modificar</button>
          <button type="button" class="small-button" (click)="cerrarFormulario()">Cancelar</button>
        </div>
      </form>
      
</div>
<div>
      <button (click)="toggleInputs2()">Eliminar Actividades</button>
        <!-- Formulario para crear una actividad -->
        <form *ngIf="showInputs2" (ngSubmit)="DeleteActivities()">
          <!-- Título -->
          <div class="form-group">
            <label for="deleteActivity">Titulo Actividad:</label>
            <input type="text" id="deleteActivity" name="deleteActivity" [(ngModel)]="deleteActivity" required>
          </div>
          <!-- Botón para enviar el formulario -->
          <button type="submit" class="small-button">Borrar</button>
        </form>
        
</div>

<!-- Agrega un formulario para ingresar los filtros -->
<form class="form-container">
 <div class="input-group">
  <input type="date" [(ngModel)]="filtroFechaInicio" name="filtroFechaInicio" value="Fecha de Inicio" onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}" placeholder="Fecha de Inicio">
  <input type="date" [(ngModel)]="filtroFechaFinal" name="filtroFechaFinal" value="Fecha de Finalización" onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}" placeholder="Fecha de Finalización">
 </div>
 <div class="input-group">
  <input type="text" [(ngModel)]="filtroLugar" name="filtroLugar" placeholder="Lugar">
  <input type="text" [(ngModel)]="filtroPonente" name="filtroPonente" placeholder="Ponente">
 </div>
 <div class="input-group">
  <input type="text" [(ngModel)]="filtroOrganizador" name="filtroOrganizador" placeholder="Organizador">
  <input type="text" [(ngModel)]="filtroCategoria" name="filtroCategoria" placeholder="Categoria">
</div>
  <!-- Agrega más campos de filtro según sea necesario -->
  <div class="button-container">
    <button type="button" class="small-button" (click)="limpiarFiltros()">Limpiar Filtros</button>
  </div>
</form>

  <!-- Tabla para mostrar las actividades -->
<table *ngIf="actividades.length > 0" class="table-container">
    <thead>
      <tr>
        <th>Título</th>
        <th>Tipo</th>
        <th>Fecha de Inicio</th>
        <th>Fecha de Finalización</th>
        <th>Ponente(s)</th>
        <th>Organizador(es)</th>
        <th>Lugar</th>
        <th>Límite de Asistentes</th>
        <th>Enlace de Información</th>
        <th>Enlace de Inscripción</th>
        <th>Categoría(s)</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let actividad of actividades.slice(paginator.pageIndex * paginator.pageSize, (paginator.pageIndex + 1) * paginator.pageSize)">-->
        <tr *ngFor="let actividad of actividades | filtroActividades:filtroFechaInicio:filtroFechaFinal:filtroLugar:filtroPonente:filtroOrganizador:filtroCategoria | slice:(paginator.pageIndex * paginator.pageSize):((paginator.pageIndex + 1) * paginator.pageSize)" (click)="seleccionarActividad(actividad)">
        <td>{{ actividad.titulo }}</td>
        <td>{{ actividad.tipo }}</td>
        <td>{{ actividad.fechaInicio.$date }}</td>
        <td>{{ actividad.fechaFinal.$date }}</td>
        <td>{{ actividad.ponente.join(', ') }}</td>
        <td>{{ actividad.organizador.join(', ') }}</td>
        <td>{{ actividad.lugar }}</td>
        <td>{{ actividad.limiteAsistentes }}</td>
        <td>{{ actividad.enlaceInformacion }}</td>
        <td>{{ actividad.enlaceInscripcion }}</td>
        <td>{{ actividad.categoria.join(', ') }}</td>
      </tr>
    </tbody>
</table>

<!-- Paginador -->
<mat-paginator [length]="actividades.length" [pageSize]="20" [pageSizeOptions]="[20, 50, 100]" (page)="onPageChange($event)"></mat-paginator>

  <!-- Mostrar mensaje de respuesta del servidor -->
<div *ngIf="mensajeRespuesta">
    <h3>Respuesta del Servidor:</h3>
    <p>{{ mensajeRespuesta }}</p>
</div>
